[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lol = log --graph --oneline --decorate --color --all
[credential]
	helper = osxkeychain
[include]
	path = ~/.gitconfig.local
